.SearchHeart {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 30px;
    color: white;
}

.SavedHeart {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 30px;
    color: red;
}
