.footer {
    background-color: $dark-blue;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 6%;
    color: white;
    border-top: 1px solid white;
    
    .footerText {
        display: flex;
        justify-content: center;
        font-size: .85rem;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

span {
    width: 200px;
    margin-left:15%;
    margin-right: 15%;
    }