.footer {
    background-color: $dark-blue;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 6%;
    color: $light;
    border-top: 1px solid $light;
    
    .footerText {
        display: flex;
        justify-content: center;
        font-size: .85rem;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 3rem;
        padding-right: 3rem;
        width: relative;
    }

.copywrite {
    width: relative;
    margin-left:15%;
    margin-right: 15%;
    }

    a{
        cursor: pointer;
        text-decoration: none;
        color: $light;
    }

    a:hover {
        color: $light;
        font-size: .90rem;
        text-decoration: underline;
    }
}
