.container {
    width: 80%;
    margin: 0 auto;
}

.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
    display: inline-flex;
}
