

.labels {
    width: 100%;
    display: flex;
    justify-content: center;
    float: center;
}

h3 {
    padding-bottom: 0.5vh;
    text-align: center;
}

.labels .col {
    width: 100%;
}


.infoRow {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5vh;
    height: 25vh;
    display: flex;
    float: left; 
}

.topCards {
    padding-top: 1vh;
    text-align: center;
    width: 50%;
    height: auto;
    overflow: scroll;
}

.topCards hr {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5vh;
}

#yelp,
#weather {
    margin-right: 1vw;
}

.schools {
    padding-top: 2vh;
    width: 100%;
}

.fa-circle {
    font-size: 0.5rem;
    color: $med-blue;
    visibility: hidden;
    }

