

.infoRow {
    width: 100%;
    justify-content: center;
    margin-bottom: 2vh;
    height: 20vh;
    overflow: hidden;
}

.topCards {
    text-align: center;
    border-color: black;
}

#community,
#weather {
    margin-right: 1vw;
}

.infoRow::after {
    content: "";
    display: table;
    clear: both;
}
