.container {
    width: 80%;
    margin: 0 auto;
}

.labels {
    font-family: 'Tinos', serif;
    width: 100%;
    display: flex;
    justify-content: center;
    float: left;
    margin-top: 2vh;
    padding-bottom: 0.5vh;
}

.labels .col {
    margin-left: 4vw;
    width: 100%;
}

.infoRow {
    width: 100%;
    margin-bottom: 0.5vh;
    height: 25vh;
    display: flex;
    justify-content: left;
    padding-bottom: 3vh;
}

.topCards {
    padding-top: 1vh;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: scroll;
}

.labels .col hr {
    width: 100%;
    display: flex;
    float: left;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

.yelp,
.schools {
    margin-left: 4vw;
}
