@media #{$breakpoint-small} {
    .container {
        width: 80;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-medium} {
    .container {
        width: 90%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-large} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-xl} {
    .container {
        width: 100%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-xl-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}