/* All Modal's */
.modal {
  text-align: center;
  padding: 1vh 2vw 1vh 2vw;
  //   width: 12%; /* Full width */
  //   height: auto; /* Full height */
  //   max-width: 20rem;
  position: fixed;
  margin-left: 43%;
  margin-top: -85%; /* Stay in place */
  z-index: 1000;
  margin-bottom: 2vh;
  background-color: rgb(247, 246, 246);
  border-color: #ccc;
  box-shadow: 0 2px 4px 2px rgb(184, 182, 182);
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto;
  text-align: center;
  border-radius: 0;
  width: 300px;
  height: auto;
  margin-bottom: 0.5vh;
}
/* end modalMap */

/* SIGN-IN MODAL */

#signinsubmit,
#signupsubmit,
#signinclose,
#signupclose,
#close {
  cursor: pointer;
  border-radius: 0;
  background-color: $med-blue;
  color: white;
  padding: 0.12vw 0.5vw 0.12vw 0.5vw;
  margin-top: 0.5vh;
}
