/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: sticky; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 0 auto;
    margin-top: 20px auto;
    width: auto; /* Full width */
    height: 350px; /* Full height */
    max-width: 20rem;
    overflow: auto; /* Enable scroll if needed */
    border-color: #ccc;
    padding-top: 1vh;
    background-color: $light;
    box-shadow: 0 1px 5px 2px rgb(184, 182, 182);


    /* Modal Content/Box */
    .modal-content {
        margin: 0 auto;
        border-radius: 0;
        width: 300px;
        height: 300px;
        margin-bottom: 0.5vh;
    }

    /* The Close Button */
    .close {
        text-align: center;
        color: $dark-blue;
        font-size: 1rem;
        padding: 0.25rem;
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        border-color: lightgray;
        margin-right: 0.6vw;
        font-size: 1rem;
        background: $light;
    }

    .close:hover
    {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    }

}

.SignInMod {
position: sticky; /* Stay in place */
z-index: 1000; /* Sit on top */
margin: 0 auto;
margin-top: 0 !important;
width: auto; /* Full width */
height: 10vh; /* Full height */
max-width: 20rem;
border-color: #ccc;
background-color: $light;
box-shadow: 0 1px 5px 2px rgb(184, 182, 182);
}

.SignInMod .modal-body {
    text-align: center;
}

.SignUpMod {
    display: none; /* Hidden by default */
    position: sticky; /* Stay in place */
    z-index: 2; /* Sit on top */
    margin: 0 auto;
    margin-top: 20px auto;
    width: auto; /* Full width */
    height: 10vh; /* Full height */
    max-width: 20rem;
    overflow: auto; /* Enable scroll if needed */
    border-color: #ccc;
    background-color: $light;
    box-shadow: 0 1px 5px 2px rgb(184, 182, 182);
    }
    
    .SignUpMod .modal-body {
        text-align: center;
    }
