
#searchResults {
    display: flex;
    justify-content: center;
}

.sectionTitle{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.sectionTitle hr {
    border: 0.5px solid lightgray;
    width: 60%;
    margin: 0 auto;
}


// Whole div container for homes
.properties {
    margin: 0 auto;
    margin-bottom: 5vh;
    text-align: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5vh;

    // Home photo
    .card-img-top {
        margin: 0 auto;
        width: 16rem;
        height: auto;
    }
    
    //Card Body
    .card {
        padding-top: 1vh;
        margin-top: 2vh;
        margin-left: 2vh;
        margin-right: 0;
        max-width: 300px;
        padding-bottom: 2vh;
        border: 1px solid lightgrey;

        .price {
            margin-bottom: 1vh;
            margin-top: 0.25vh;
            text-align: center;
            font-weight: bold;
        }
        
        // Beds/Baths/Sq ft
        .card-body {
            max-width: 300px;
            margin:0 auto;
            padding: 0;
            font-weight: bold;
        } 
    }

    .openmap {
        cursor: pointer;
        margin-top: 1vh;
        width: 2.5rem;
        text-align: center;
        align-self: center;
        padding-top: 0.2vh;
        padding-bottom: 0.4vh;
        border: 1px solid rgb(223, 222, 222);
        border-radius: 0;
        background-color: $med-blue;
        color: $light;
    }
    
    .openmap:hover {
        background-color: $hover-color;
    }
}



