
.searchRow {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;

    .userInput,
    .radius{
    width: 15rem;
    text-align: center;
    margin-right: 0.25%;
    }

    ::placeholder {
    color: $placeholder-text;
    }

    .btn {
        width: 4.5rem;
        text-align: center;
        align-self: center;
        padding-top: 0.25vh;
        padding-bottom: 0.25vh;
        border: 1px solid rgb(223, 222, 222);
        border-radius: 0;
        background-color: $med-blue;
        color: $light;
    }

    .btn:hover {
        cursor: pointer;
        background-color: $hover-color;
    }

}