

.weatherContainer {
    margin: 0 auto;
    height: 3vh;
    width: auto;
    margin-bottom: 2vh;
    color: $dark-text;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.weatherContainer div {
    display: inline-block;
    margin: 2px;
}

#cityHeader {
    margin-left: 0px;
}

#weatherIcon {
    margin-top: -1.2vh;
    margin-right: 0;
}