.userInput {
  width: 200px;
}

.footer {
  background-color: grey;
  position: fixed;
  bottom: 0 !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  font-weight: bold;
}

/* .properties {
  height: 200px;
} */

.result {
  margin-bottom: 100px;
}

.overlay {
  position: absolute;
  top: 150px;
  left: 15px;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

#map {
  height: 400px;
  width: 400px;
  left: 33px;
}
