html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
  position: relative;
}

.PropertyCard,
.SavedPropertyCard {
  margin-bottom: 10px;
  padding: 3px;
}
/* * {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  z-index: 0;
} */

/* h2,
h3 {
  font-family: "Tinos", serif;
} */

.header {
  background-color: #2e5677;
  padding-top: 2vh;
  padding-bottom: 1vh;
  -webkit-box-shadow: 0 3px 5px 1px #b8b6b6;
  box-shadow: 0 3px 5px 1px #b8b6b6;
}

.header .header.logo,
.header .home {
  width: 35%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#searchBtn,
#saved,
#signin,
#signout,
#signup {
  background-color: #2e5677;
  color: white;
  /* cursor: pointer;
  width: relative;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-top: 0.2vh;
  padding-bottom: 0.4vh;
  padding-right: 1vw;
  padding-left: 1vw;
  border: 1px solid #dfdede;
  border-radius: 0;
  background-color: #2e5677;
  color: white;
  margin-right: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-bottom: 2vh;
  margin-top: 0; */
}
#searchBtn:hover,
#saved:hover,
#signin:hover,
#signout:hover,
#signup:hover {
  background-color: #586e80;
}

#currentuser {
  text-align: right;
  padding-bottom: 3vh;
}

.searchRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 2vh;
}

.searchRow .userInput,
.searchRow .radius {
  width: 15rem;
  text-align: center;
  margin-right: 0.25%;
}

.searchRow ::-webkit-input-placeholder {
  color: lightgrey;
}

.searchRow :-ms-input-placeholder {
  color: lightgrey;
}

.searchRow ::-ms-input-placeholder {
  color: lightgrey;
}

.searchRow ::placeholder {
  color: lightgrey;
}

/* .searchRow .btn {
  width: 4.5rem;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  border: 1px solid #dfdede;
  border-radius: 0;
  background-color: #2e5677;
  color: white;
} */

.searchRow .btn:hover {
  cursor: pointer;
  background-color: #586e80;
}

.weatherContainer {
  margin: 0 auto;
  height: 3vh;
  width: auto;
  margin-bottom: 2vh;
  color: #717070;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.weatherContainer div {
  display: inline-block;
  margin: 2px;
}

#cityHeader {
  margin-left: 0px;
}

#weatherIcon {
  margin-top: -1.2vh;
  margin-right: 0;
}

/* [class*="col-"] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
} */

.container {
  width: 80%;
  margin: 0 auto;
}

.labels {
  font-family: "Tinos", serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: left;
  margin-top: 2vh;
  padding-bottom: 0.5vh;
}

.labels .col {
  margin-left: 4vw;
  width: 100%;
}

.labels .col hr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.infoRow {
  width: 100%;
  margin-bottom: 0.5vh;
  height: relative;
  max-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  padding-bottom: 3vh;
}

/* .topCards {
  padding-top: 1vh;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: scroll;
} */

/* #spinner,
#yelpSpinner {
  width: 30%;
  margin-left: 11vw;
} */

/* #propertySpinner {
  width: 75%;
  margin: 0 auto;
} */

/* .yelp,
.schools {
  margin-left: 4vw;
} */

.fas {
  color: #2e5677;
}

/* .fa-stack {
  color: #2e5677;
  font-size: 1rem;
  margin-right: 1vw;
} */

/* #searchResults {
  font-family: "Tinos", serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0.5vh;
} */

hr {
  border: 0.5px solid lightgray;
  width: 60%;
  margin: 0 auto;
}

/* .properties {
  margin: 0 auto;
  margin-bottom: 5vh;
  text-align: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5vh;
}

.properties .card-img-top {
  margin: 0 auto;
  width: 16rem;
  height: auto;
}

.properties .card {
  padding-top: 1vh;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 0;
  max-width: 300px;
  padding-bottom: 2vh;
  border: 1px solid lightgrey;
}

.properties .card .price {
  margin-bottom: 1vh;
  margin-top: 0.25vh;
  text-align: center;
  font-weight: bold;
}

.properties .card .card-body {
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
} */

/* .properties .openmap {
  cursor: pointer;
  margin-top: 1vh;
  width: 2.5rem;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-top: 0.2vh;
  padding-bottom: 0.4vh;
  border: 1px solid #dfdede;
  border-radius: 0;
  background-color: #2e5677;
  color: white;
} */

/* .properties .openmap:hover {
  background-color: #586e80;
} */

#map {
  height: 400px !important;
}

.openmap,
.savedopenmap {
  background-color: #2e5677;
}
.card-img-top {
  height: 250px !important;
}

.PropertyCard,
.SavedPropertyCard {
  height: 470px !important;
}

/* end modalMap */
/* SIGN-IN MODAL */
#signinsubmit,
#signupsubmit,
#signinclose,
#signupclose,
#close {
  cursor: pointer;
  border-radius: 0;
  background-color: #2e5677;
  color: white;
  padding: 0.12vw 0.5vw 0.12vw 0.5vw;
  margin-top: 0.5vh;
}

.SearchHeart {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 30px;
  color: white;
}

.SavedHeart {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 30px;
  color: red;
}

.footer {
  background-color: #153956;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 6%;
  color: white;
  border-top: 1px solid white;
}

.footer .footerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.85rem;
  padding-top: 5px;
  width: relative;
}

.footer .copywrite {
  width: relative;
  margin-left: 15%;
  margin-right: 15%;
}

.footer a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: white;
  font-size: 0.9rem;
  text-decoration: underline;
}

@media only screen and (min-width: 0px) {
  .container {
    width: 80;
    max-width: 60%;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 60%;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1008px) {
  .container {
    width: 95%;
    max-width: 60%;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 100%;
    max-width: 60%;
  }
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
